.section {
  margin-top: 30px;
  margin-bottom: 30px;
}

.list-container {
  border: 2px solid #A1998E;
  border-radius: 5px;
  padding: 20px 10px 10px 10px;
  margin: 10px 0;
  
  color: #A1998E;
  background-color: #ebe6e0;
}

.list {
  list-style: none outside none;
  margin: 0;
  padding: 20px 0;
}

.item {
  margin: 5px 0;
  border: 1px solid #A1998E;
  border-radius: 5px;
  padding-left: 20px;
  background-color: #FCFCFC;

  font-size: 1.1em;
  font-weight: medium;
  text-align: center;
  cursor: move;
  color: #8A5917;
}

.item .delete-button {
  /*margin: 0;*/
  min-width: 50px;
}

.counter {
  color: #8A5917;
}

.main-counter {
 margin-top: 20px;
 text-align: center;
}