<dir class="row">
    <div class="col-xs-12 col-sm-9">
        <form ng-submit="addTask()">
            <md-input-container class="md-block">
                <label>Add project</label>
                <input ng-model="input.task">
            </md-input-container>
        </form>
    </div>
    <div class="col-xs-12 col-sm-3 main-counter">
        <label class="md-headline counter">Total {{getTotalTasks()}} Projects</label>
    </div>
</dir>

<div class="row drag-area">
    <div class="col-sm-4" ng-repeat="list in lists">
        <div class="list-container">
            <div layout="row" layout-align="space-between center">
                <label class="md-headline">{{list.name}}</label>
                <label class="md-headline counter">{{list.items.length}}</label>
            </div>
            <ul ui-sortable="sortableOptions" ng-model="list.items" class="list">
                <li ng-repeat="item in list.items track by $index" class="item">
                    <div layout="row" layout-align="space-between center">
                        <div flex>{{item}}</div>
                        <md-button class="md-icon-button delete-button" aria-label="delete" ng-click="removeTask(list, $index)">
                            <md-icon md-font-icon="fa fa-times fa-lg"></md-icon>
                        </md-button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>