<dir class="row">
    <div class="col-xs-12 col-sm-9">
        <form ng-submit="addTask()">
            <md-input-container class="md-block">
                <label>Add project</label>
                <input ng-model="input.task">
            </md-input-container>
        </form>
    </div>
    <div class="col-xs-12 col-sm-3 main-counter">
        <label class="md-headline counter">Total {{todoList.items.length + inProgressList.items.length + doneList.items.length}} Projects</label>
    </div>
</dir>

<div class="row drag-area">
    <div class="col-sm-4">
        <div class="list-container">
            <div layout="row" layout-align="space-between center">
                <label class="md-headline">{{todoList.name}}</label>
                <label class="md-headline counter">{{todoList.items.length}}</label>
            </div>
            <ul ui-sortable="sortableOptions" ng-model="todoList.items" class="list">
                <li ng-repeat="item in todoList.items track by $index" class="item">{{item}}</li>
            </ul>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="list-container">
            <div layout="row" layout-align="space-between center">
                <label class="md-headline">{{inProgressList.name}}</label>
                <label class="md-headline counter">{{inProgressList.items.length}}</label>
            </div>
            <ul ui-sortable="sortableOptions" ng-model="inProgressList.items" class="list">
                <li ng-repeat="item in inProgressList.items track by $index" class="item">{{item}}</li>
            </ul>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="list-container">
            <div layout="row" layout-align="space-between center">
                <label class="md-headline">{{doneList.name}}</label>
                <label class="md-headline counter">{{doneList.items.length}}</label>
            </div>
            <ul ui-sortable="sortableOptions" ng-model="doneList.items" class="list">
                <li ng-repeat="item in doneList.items track by $index" class="item">{{item}}</li>
            </ul>
        </div>
    </div>
</div>